@import "../varibale.module.scss";
@import "../mixin.module.scss";

.headerWrapper {
  background-color: $bg__header;
  color: $color__header;
  display: flex;
  justify-content: space-between;
  padding: 0 $gutter__x;

  .logoWrapper {
    display: flex;
    align-items: center;

    h3 {
      margin: $gutter__y 0;
      cursor: pointer;

      &:hover {
        color: $color__header__hover;
      }
    }
  }

  .barWrapper {
    display: none;
  }
}

@include mobile {
  .headerWrapper {
    .logoWrapper {
      justify-content: center;
    }
    .barWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        cursor: pointer;
      }
    }
  }
}

@include tablet {
  .headerWrapper {
    .logoWrapper {
      justify-content: center;
    }
    .barWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        cursor: pointer;
      }
    }
  }
}
