.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 20rem;
  height: 20rem;
  border-radius: 50px;
}

.sliding {
  display: flex;
  overflow: hidden;
}

.ArrowLeft {
  position: relative;
  font-size: 3rem;
}

.ArrowRight {
  position: relative;
  font-size: 3rem;
}
