@import "../varibale.module.scss";

.productWrapper {
  width: 224px;
  border: 2px solid;
  border-radius: 16px;
  padding: $gutter__card;
  position: relative;
  background-color: $bg__product;
  cursor: pointer;

  &.cu {
    border-color: $color__cu;
  }

  &.gs {
    border-color: $color__gs;
  }

  &.seven {
    border-color: $color__seven;
  }

  &.mini {
    border-color: $color__mini;
  }

  &.emart {
    border-color: $color__emart;
  }

  &:hover {
    border-width: 4px;
  }

  .productHeader {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    z-index: 1;

    .event {
      border-radius: $product_border_radius;
      color: $color__event;
      font-weight: 600;
      font-size: 14px;
      padding: 8px;
      background-color: lightcoral;
    }
  }

  .productContent {
    display: flex;
    flex-direction: column;

    .introduceWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.125rem;

      .name {
        width: 100%;
        font-weight: 500;
        margin-bottom: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .price {
        font-weight: 700;
        display: flex;
        align-items: center;
      }
    }
  }
}
