@import "../../varibale.module.scss";

.searchFormWrapper {
  display: flex;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px;
}

.searchFormLeft {
  position: relative;
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  flex: 0.8;
}

.searchFormLeft:focus {
  border-color: blueviolet;
}

.sales {
  width: 80%;
  height: 100%;
  padding-left: 17%;
  background-color: rgb(231, 231, 231);
  border: none;
  opacity: 1;
}

// floating label
.searchFormFill {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.test{
  height: 100%;
}

.test:not(:placeholder-shown) + label {
  color: #111;
  transform: scale(0.5, 0.5) translateY(-30px);
  transition: all ease-in-out .3s;
}

.move {
  position: absolute;
  padding: 5px 10px;
  font-size: 14px;
}

.searchFormRight {
  flex: 0.5;
  position: relative;
  border: 1px solid #be2626a2;
  border-radius: 5px;
}

.searchSubmitButton {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: 0;
  background-color: rgb(230, 131, 50);
  border: none;
}
