// padding & margin

// color
$color__cu: hsl(77, 65%, 48%);
$color__gs: hsl(21, 97%, 54%);
$color__seven: hsl(357, 68%, 55%);
$color__mini: hsl(219, 75%, 35%);
$color__emart: hsl(41, 99%, 55%);
$bg__cu: hsl(292, 75%, 30%);
$bg__gs: hsl(189, 99%, 41%);
$bg__seven: hsl(165, 100%, 25%);
$bg__mini: hsl(45, 99%, 52%);
$bg__emart: hsl(240, 3%, 37%);
$text_shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

// breakpoint
